button {
    background-color: black;
    color: white;
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.center{
    display: flex;
    justify-content: center;
}